<div class="container">
    <h1>Angular Pipes</h1>
    <!-- <p>{{e | number:'1.1-5'}}</p>
    <p>{{str | uppercase}}</p>
    <p>{{date | date:'yyyy-MM-dd, HH:mm:ss'}}</p>

    <p>{{10 | mult}}</p>
    <p>{{10 | mult:2}}</p>
    <p>{{10 | mult:3}}</p>
    <p>{{10 | mult:5}}</p>
    <p>{{10 | mult:8}}</p>
    <p>{{10 | mult:13}}</p>
    <p>{{'Hello Pipes      ' | exMarks}}</p> -->
    <button class="btn btn-primary" (click)="searchField='title'">title</button>
    <button class="btn btn-primary" (click)="searchField='text'">text</button>
    <input type="text" [(ngModel)]="search">
    <button class="btn btn-primary" (click)="AddPost()">Add Post</button>
    <div 
        *ngFor="let post of posts | filter:search:searchField"
        class="card">
        <h2>{{post.title}}</h2>
        <p>{{post.text}}</p>
    </div>

</div>
