<div class="container">
    <h1>Hello Services</h1>
    <div class="card">
        <p>Counter: {{appCounterService.counter}}</p>
        <button class="btn" (click)="appCounterService.increase()">+</button>
        <button class="btn" (click)="appCounterService.decrease()">-</button>
    </div>

    <div class="card">
        <p>Local Counter: {{localCounterService.counter}}</p>
        <button class="btn" (click)="localCounterService.increase()">+</button>
        <button class="btn" (click)="localCounterService.decrease()">-</button>
    </div>
</div>
